extends layout.pug
block content

    //- Layout    
    
    //- Top bar
    include topNavbar.pug

    //- Left bar
    include leftNavbar.pug
        
    //- Page Content
    .container-fluid.gedf-wrapper
        //- Post card
        .card.gedf-card.card1
            .card-header
                ul#myTab.nav.nav-tabs.card-header-tabs(role="tablist")
                    li.nav-item
                        a#posts-tab.nav-link.active(data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true")
                            | Eventos
            .card-body
                #myTabContent.tab-content
                    #posts.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="posts-tab")
                        if (events.length > 0)
                            each event in events
                                .card.mt-2
                                    .card-header
                                        .d-flex.justify-content-between.align-items-center
                                            .d-flex.justify-content-between.align-items-center
                                                .ml-2
                                                    .h5.mb-2
                                                        a(href=`/events/${event._id}`)
                                                            if (user.events.filter(e => e._id == event._id).length === 1)
                                                                span(style="font-weight: bold") Título: 
                                                                span= event.title
                                                            else
                                                                span(style="font-weight: bold") Título: 
                                                                span= event.title

                                                        if (user.events.filter(e => e._id == event._id).length === 1)
                                                            span.badge.badge-info.ml-4.mt-2.p-2 Aderido
                                                        else
                                                            button.btn.btn-outline-success.ml-4(style="backgroud: transparent; border: none" onclick=`joinEvent("${user.email}", "${event._id}")`) Aderir
                                                    .h7.text-muted.mb-1
                                                        span(style="font-weight: bold") Descrição: 
                                                        span= event.description
                                                    .h7.text-muted.mb-1
                                                        span(style="font-weight: bold") Data: 
                                                        span= event.date
                        else
                            | Nenhumm evento

    //- Chat (Right bar)
    include rightNavbar.pug
