extends layout.pug
block content

    //- Layout    
    
    //- Top bar
    include topNavbar.pug

    //- Left bar
    include leftNavbar.pug
        
    //- Page Content
    .container-fluid.gedf-wrapper
        //- Post card
        .card.gedf-card.card1
            .card-header
                ul#myTab.nav.nav-tabs.card-header-tabs(role="tablist")
                    li.nav-item
                        a#posts-tab.nav-link.active(data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true")
                            | Informações
                    li.nav-item
                        a#members-tab.nav-link(data-toggle="tab" role="tab" aria-controls="members" aria-selected="false" href="#members")
                            | Participantes
                    li
                        if (event.participantes.filter(m => m.email == user.email).length === 1)
                            button.mr-2(style="float: right; backgroud: transparent; border: none" onclick=`leaveEvent("${user.email}", "${event._id}")`) -
                        else
                            button.mr-2(style="float: right; backgroud: transparent; border: none" onclick=`joinEvent("${user.email}", "${event._id}")`) +                            
            .card-body
                #myTabContent.tab-content
                    #posts.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="posts-tab")
                        .card.mt-2
                            .card-header
                                .d-flex.justify-content-between.align-items-center
                                    .d-flex.justify-content-between.align-items-center
                                        .ml-2
                                            .h5.mb-2
                                                span Título: 
                                                span= event.title
                                            .h7.text-muted.mb-1
                                                span Descrição: 
                                                span= event.description
                                            .h7.text-muted.mb-1
                                                span Data: 
                                                span= event.date
                    #members.tab-pane.fade(role="tabpanel" aria-labelledby="members-tab")
                        if (event.participants.length > 0)
                            each participant in event.participants
                                a.card.card-header.mt-2(href=`/profiles/${participant.email}`)
                                    .d-flex.justify-content-between.align-items-center
                                        .d-flex.justify-content-between.align-items-center
                                            .mr-2
                                                img.rounded-circle(width="45" src=`${participant.avatar}` alt="")
                                            .ml-2
                                                .h5.m-0
                                                    span= participant.name
                                                .h7.text-muted
                                                    span= participant.course
                        else
                            | Nenhum participante

    //- Chat (Right bar)
    include chat.pug
