extends layout.pug
block content

    //- Layout    
    
    //- Top bar
    include topNavbar.pug

    //- Left bar
    include leftNavbar.pug
        
    //- Page Content
    .container-fluid.gedf-wrapper
        //- Post card
        .card.gedf-card.card1
            .card-header
                ul#myTab.nav.nav-tabs.card-header-tabs(role="tablist")
                    li.nav-item
                        a#posts-tab.nav-link.active(data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true")
                            | Publicações
                    li.nav-item
                        a#members-tab.nav-link(data-toggle="tab" role="tab" aria-controls="members" aria-selected="false" href="#members")
                            | Membros
                    li.nav-item
                        a#files-tab.nav-link(data-toggle="tab" role="tab" aria-controls="files" aria-selected="false" href="#files")
                            | Ficheiros
                    li
                        if (group.members.filter(m => m.email == user.email).length === 1)
                            button.btn.btn-outline-danger.ml-2.p-2(style="float: right; backgroud: transparent; border: none" onclick=`leaveGroup("${user.email}", "${group._id}")`) Sair
                        else
                            button.btn.btn-outline-success.ml-2.p-2(style="float: right; backgroud: transparent; border: none" onclick=`joinGroup("${user.email}", "${group._id}")`) Entrar
            .card-body
                #myTabContent.tab-content
                    #posts.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="posts-tab")
                        if (group.posts.length > 0)
                            each post in group.posts
                                .card.mt-4
                                    .card-header
                                        .d-flex.justify-content-between.align-items-center
                                            .d-flex.justify-content-between.align-items-center
                                                a.mr-2(href=`/profiles/${post.author.email}`)
                                                    img.rounded-circle(width="45" src="/images/avatar.png" alt="")
                                                .ml-2
                                                    .h5.m-0
                                                        a(href=`/profiles/${post.author.email}`)= post.author.name
                                                    .h7.text-muted
                                                        span= post.author.course
                                    .card-body
                                        .text-muted.h7.mb-2
                                            i.fas.fa-clock
                                            | 
                                            = post.date
                                        p.card-text= post.description
                                        if (post.attachments.length > 0)
                                            each attachment in post.attachments
                                                a.card.card-header.mt-2(href=`/files/${attachment}` download=`${attachment}`)
                                                    .d-flex.justify-content-between.align-items-center
                                                        .d-flex.justify-content-between.align-items-center
                                                            .mr-2
                                                                img.rounded-circle(width="30" src="/images/file.png" alt="")
                                                            .ml-2
                                                                .h5.m-0
                                                                    span= attachment
                        else
                            | Nenhuma publicação
                    #members.tab-pane.fade(role="tabpanel" aria-labelledby="members-tab")
                        if (group.members.length > 0)
                            each member in group.members
                                a.card.card-header.mt-2(href=`/profiles/${member.email}`)
                                    .d-flex.justify-content-between.align-items-center
                                        .d-flex.justify-content-between.align-items-center
                                            .mr-2
                                                img.rounded-circle(width="45" src="/images/avatar.png" alt="")
                                            .ml-2
                                                .h5.m-0
                                                    span= member.name
                                                .h7.text-muted
                                                    span= member.course
                        else
                            | Nenhum membro
                    #files.tab-pane.fade(role="tabpanel" aria-labelledby="files-tab")
                        if (group.files.length > 0)
                            each file in group.files
                                a.card.card-header.mt-2(href=`/files/${file}` download=`${file}`)
                                    .d-flex.justify-content-between.align-items-center
                                        .d-flex.justify-content-between.align-items-center
                                            .mr-2
                                                img.rounded-circle(width="45" src="/images/file.png" alt="")
                                            .ml-2
                                                .h5.m-0
                                                    span= file
                        else
                            | Nenhum ficheiro

    //- Chat (Right bar)
    include rightNavbar.pug
