//- Sidebar
wrapper

    nav#leftSidebar

        .leftSidebar-header
            h3 Informatics Social Network

        ul.list-unstyled.components
            if (!groupId && !eventId && !profile && !hashtags && !hashtag)
                li.active
                    //-i.fas.fa-newspaper
                    a(href="/") Feed de notícias
            else
                li
                    //-i.fas.fa-newspaper
                    a(href="/") Feed de notícias

            if (groupId)
                li
                    //-i.fas.fa-users
                    a.dropdown-toggle(href="#groupSubmenu" data-toggle="collapse" aria-expanded="false") Grupos
                    ul#groupSubmenu.collapse.list-unstyled.show
                        each group in user.groups
                            if (group._id == groupId)
                                li.active
                                    a(href=`/groups/${group._id}`)= group.name
                            else
                                li
                                    a(href=`/groups/${group._id}`)= group.name
                        if (groupId === true)
                            li.active
                                a(href=`/groups`) Outros grupos ...
                        else
                            li
                                a(href=`/groups`) Outros grupos ...
            else
                li
                    //-i.fas.fa-users
                    a.dropdown-toggle(href="#groupSubmenu" data-toggle="collapse" aria-expanded="false") Grupos
                    ul#groupSubmenu.collapse.list-unstyled
                        each group in user.groups
                            li
                                a(href=`/groups/${group._id}`)= group.name
                        if (groupId === true)
                            li.active
                                a(href=`/groups`) Outros grupos ...
                        else
                            li
                                a(href=`/groups`) Outros grupos ...
            if (eventId)
                li
                    //-i.fas.fa-calendar
                    a.dropdown-toggle(href="#eventSubmenu" data-toggle="collapse" aria-expanded="false") Eventos
                    ul#eventSubmenu.collapse.list-unstyled.show
                        each event in user.events
                            if (event._id == eventId)
                                li.active
                                    a(href=`/events/${event._id}`)= event.title
                            else
                                li
                                    a(href=`/events/${event._id}`)= event.title
                        if (eventId === true)
                            li.active
                                a(href=`/events`) Outros eventos ...
                        else
                            li
                                a(href=`/events`) Outros eventos ...
            else
                li
                    //-i.fas.fa-calendar
                    a.dropdown-toggle(href="#eventSubmenu" data-toggle="collapse" aria-expanded="false") Eventos
                    ul#eventSubmenu.collapse.list-unstyled
                        each event in user.events
                            li
                                a(href=`/events/${event._id}`)= event.title
                        if (eventId === true)
                            li.active
                                a(href=`/events`) Outros eventos ...
                        else
                            li
                                a(href=`/events`) Outros eventos ...

            if (hashtags || hashtag)
                li.active
                    //-i.fas.fa-calendar
                    a(href="/hashtags") Hashtags
            else
                li
                    //-i.fas.fa-calendar
                    a(href="/hashtags") Hashtags
